*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	border:border-box;
}

.navbar {
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
}

.nav-logo{
	height: 50px;
	width: 100px;
}

.logo{
	background-image: url("amazon_logo.png");
	height: 50px;
	width:100px;
	background-size: cover;

}

.border {
	border: 1.5px solid transparent;
}
.border:hover {
	border: 1.5px solid white;
}

/** Box 2**/


.Add-first {

	color: #cccccc;
	font-size:0.8rem;
	margin-left: 15px;
}

.add-icon {

	align-items: center;
	display: flex;
}

.Add-second {
	font-size:1rem;
	margin-left: 4px;
}

.nav-searchbar{
	display: flex;
}